body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: grey;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 16px;
}

li a {
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.item-1 {
    display: flex;
    gap: 20px;
}

.item-1 img {
    max-width: 400px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.item-1 .main-text {
    font-size: 48px;
    font-weight: 800;
}

.item-1 .secondary-text {
    font-size: 18px;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
}

.header, .footer, .item-1 {
    background-color: #1F2937;
    color: white;
}


